html{
    background-image: linear-gradient( 180deg, #618264, #79AC78, rgb(176, 217, 177), rgb(208, 231, 210));
    padding: 10px;
    bottom: auto;
    box-sizing:  border-box;
    background-repeat: no-repeat;
}

*, *:before, *:after{
    /*box-sizing: inherit;*/
    box-sizing: border-box;
    font-family: Gotham Rounded;
}

*:required {
    background-color: #fff3cd;
}
*:required:after {
    content:" *";
    color: red;
}
.card-img, .card-img-top {
    max-height: 150px;
    width: auto;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 20px;
    padding: 20px;
}
.card {
    background: 180deg, #618264, #79AC78, rgb(176, 217, 177);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px auto;
    padding: 20px;
}
.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}
.card h2 {
    color: #283747;
    font-size: 24px;
    margin-bottom: 10px;
}
.card p {
    color: #283747;
    font-size: 16px;
    line-height: 1.6;
}

.navbar {
    background-color: #283747;
    overflow: hidden;
    border-top-left-radius: 15px; /* Bal felső sarok kerekítése */
    border-top-right-radius: 15px; /* Jobb felső sarok kerekítése */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.navbar a {
    float: left;
    display: block;
    color: #283747;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    border-top-left-radius: 15px; /* Bal felső sarok kerekítése */
    border-top-right-radius: 15px; /* Jobb felső sarok kerekítése */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.navbar a:hover {
    background-color: #ddd;
    color: #283747;
    border-top-left-radius: 15px; /* Bal felső sarok kerekítése */
    border-top-right-radius: 15px; /* Jobb felső sarok kerekítése */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* Alapértelmezett link stílus */
a {
    color: black;
    text-decoration: none;
}

/* Aktív link stílus (amikor éppen kattintás alatt van) */
a:active {
    color: red;
    text-decoration: none;
}

/* Hover stílus (amikor az egeret visszük a link fölé) */
a:hover {
    color: greenyellow;
    text-decoration: none; /* Például húzzuk alá a linket */
}

/* Látogatott linkek stílusa */
a:visited {
    color: wheat;
    text-decoration: none;
}